.settings-from-wrapper{
    background: rgba(255, 255, 255, 0.49);
    border-radius: 22px;
    padding: 20px;
}
.settings-from-wrapper h2{
    font-size: 28px;
    font-weight: 700;
    font-family: var(--font-lato), sans-serif;
    color: #2D334B;
    padding-left: 10px;
}

.settings-from-wrapper input{
    background: #fff !important;
    border-radius: 10px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 12px 10px !important;
    font-family: var(--font-lato), sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2D334B;
    transition: all 0.3s ease-in-out;
}
.settings-from-wrapper input[readonly]{
    background: rgba(0, 0, 0, 0.02) !important;
}

.settings-from-wrapper input::placeholder{
    font-family: var(--font-lato), sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(45, 51, 75,0.7);
    text-transform: capitalize;
}
.text-danger{
    padding-left: 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2px;
}

.edit-btn{
    position: absolute;
    top: -54px;
    right: 10px;
    cursor: pointer;
}
.setting-inputs-label{
    font-size: 18px;
    font-weight: 600;
    color: #2D334B;
    display: block;
    width: 100%;
    font-family: var(--font-lato), sans-serif;
    margin-bottom: 3px;
    padding: 0 8px;
}

.submit-btn{
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    font-family: var(--font-lato), sans-serif;
    text-transform: uppercase;
}